* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

body {
	background-image: radial-gradient(circle, #040e1e, #071624, #081d2a, #0a242f, #0d2b34);
}

nav {
	padding-top: 8px;
	padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    font-size: 20px;
}

header{
	padding: 6px;
}

.navRight {
	display: flex;
	flex-wrap: wrap;
}

.navRight > div {
	margin-right: 25px;
}

a{
	text-decoration: none;
}

.section-Top{
	text-align: center;
	font-weight: bold;
	font-size: 70px;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 63%;
	padding-top: 30vh;
	padding-bottom: 32vh;
}

.separator-line{
	height: 10px;
	background-color: #fff;
	border-radius: 5px;
}

.welcomeMsg{
	display: flex;
	flex-wrap: wrap;
	font-size: 25px;
	flex-wrap: column;
}

.welcomeMsg > h2 {
	margin-top: 10px;
	font-size: 25px;
}

.followAlong-btn{
	height: 65px;
    width: 272px;
    font-size: 26px;
    border: solid 3px #fff;
    background: transparent;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
}

.followAlong-btn:hover{
	cursor: pointer;
}

.section-Middle{
	display: flex;
	height: 100vh;
}

.aboutMe{
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	flex-flow: column;
	height: 100vh;
	margin: 00 !important;
}

.aboutMyCourse{
	width: 50%;
}

.myImage img{
	height: 267px;
    width: 267px;
    margin-bottom: 2vh;
    border: solid 2px #fff;
    border-radius: 50%;
}

.whoAmI{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 88%;
}

.description1 {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 88%;
	margin: auto;
}

.description1 h2{
	margin-top: 7vh;
	font-size: 46px;
	font-weight: 100;
	margin-bottom: 7vh;
}

.description1 p{
	font-size: 18px;
}

.description2{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 88%;
	margin: auto;
}

.description2 h2{
	margin-top: 7vh;
	font-size: 46px;
	font-weight: 100;
	margin-bottom: 7vh;
}

.description2 p{
	font-size: 18px;
}

hr{
	margin-top: 7px;
	height: 10px;
	background-color: #fff
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.burger {
	display: none;
}

.burger:hover{
	cursor: pointer;
}

@media screen and (max-width: 1666px){
	body {
		width: 100%;
	}

	.section-Middle {
	    display: flex;
	    height: 100vh;
	    flex-flow: column;
	    align-items: center;
	}
}

@media screen and (max-width: 768px){
	body {
		width: 100%;
	}

	.navRight > div {
    	margin-right:0; 
	}
	.navRight div a {
		display: none;
	}
	.burger {
		display: unset;
	}

	.section-Top {
	    text-align: center;
	    font-weight: bold;
	    font-size: 62px;
	    display: flex;
	    flex-direction: column;
	    margin: auto;
	    width: 83%;
	    padding-top: 5vh;
	    padding-bottom: 97vh;
	}

	.section-Top h1 {
		font-size: 40px;
		margin-top: 14vh;
	}

	.separator-line {
	    height: 5px;
	    margin-top: 8px;
	}

	.welcomeMsg > h2{
		font-size: 17px;
    	margin-top: 18px;
	}
}